## editors
.idea/
.vscode/

## Rocket ignore files (need to be the full relative path to the folders)
docs/_merged_data/
docs/_merged_assets/
docs/_merged_includes/
_site-dev/

## system files
.DS_Store

## npm
npm-debug.log

## yarn (we prefer npm)
yarn.lock
yarn-debug.log
yarn-error.log

## builds
dist/
build/
lib/

## temporal folders
.tmp/
coverage/

## storybook
.cache/
.history/
storybook-static/

## node
node_modules/

## tests
test-results.xml
